.sort-lab-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  max-height: 100%;
  background-color: #e8f0fe;
  overflow-x: hidden;
  //overflow-y: hidden;
}

/* Header */
.header {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.header h1 {
  font-size: 1.8rem;
  color: #BA005C;
  margin: 0;
}

.mode-selector {
  display: flex;
  gap: 10px;
}

.mode-selector button {
  transition: background-color 0.3s ease;
}

/* Main Content */
.main-content {
  grid-column: 1 / 3;
  display: flex;
  gap: 20px;
}

/* Input Section */
.input-section {
  flex: 1;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 895px;
  display: flex;
  flex-direction: column;
  max-width: 290px;
}

.input-section h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.input-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.input-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;

}

.add-input {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.add-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
}

.input-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.input-actions button {
  flex: 1;
}

.input-actions button:last-child {
  background-color: #202124;
  color: white;
}

/* Visualization Section */
.visualization-section {
  flex: 2;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 895px;
  display: flex;
  flex-direction: column;
}

.visualization-section h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.charts-container {
  flex: 1;
  display: flex;
  gap: 10px;
  //justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  &.single {
    .chart-wrapper {
      width: 60%;
      height: 90%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .bar-chart {
        min-height: 300px;
        max-height: 350px;
        min-width: 100%;
      }
    }
  }

  &.dual {
    flex-direction: row;
    .chart-wrapper {
      width: 50%;
      height: 90%;
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      .bar-chart {
        min-height: 300px;
        max-height: 350px;
        min-width: 100%;
        overflow-x: visible;

      }
      .bar-wrapper {
        flex: 0 0 auto;
      }
    }
  }

  &.all {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-height: 90%;
    .chart-wrapper {
      min-width: 90%;
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
      height: 80%;
      .bar-chart {
        min-height: 100px;
        max-height: 150px;
      }
      .bar {
        border-radius: 8px 8px 0 0;
      }
      .bar-label {
        font-size: 8px;
      }
    }
  }
}

.chart-wrapper {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chart-wrapper h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.bar-chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
  border-radius: 12px;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7px;
  width: 10px;
}

.bar {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: height 0.3s ease, background-color 0.3s ease;
  border-radius: 8px 8px 0 0;
}

.bar-label {
  font-size: 10px;
  color: #666;
  margin-top: 5px;
  text-align: center;
}

.visualization-section1{
  width: 100%;
  display: flex;
  //background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
  justify-content: space-between;
  height: 100px;
  align-items: baseline;

}


.algorithm-selection{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: flex-end;

}


///* Algorithm Selection */
//.algorithm-selection {
//  grid-column: 1 / 2;
//  background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
//  border-radius: 8px;
//  padding: 20px;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//  border: 1px solid #ddd;
//}

.algorithm-selection h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #1a73e8;
}

.algorithm-selectors {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.custom-select {
  flex: 1;
}

.custom-select mat-form-field {
  width: 100%;
}

.custom-select .mat-form-field-wrapper {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-select .mat-select {
  font-weight: 500;
  color: #333;
}

.custom-select .mat-select-value {
  color: #1a73e8;
}

.custom-select .mat-select-arrow {
  color: #1a73e8;
}

/* Control Section */
.control-section {
  grid-column: 2 / 3;
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 1px 2px rgba(0, 0.5, 0.5, 0.5);
}

.control-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.speed-control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.speed-control span {
  font-size: 0.9rem;
  color: #666;
}

.speed-slider {
  width: 150px;
}

/* Description Section */
.description-section {
  //grid-column: 1 / 3;
  max-width: 290px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.code-container {
  flex: 1;
  border: 2px solid blue;
  border-radius: 8px;
  background-color: #e0f0ff;
  padding: 12px;
  max-height: 89%;
  overflow: visible;
}

.description-section h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.pe{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 90%;
  //background: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .pe1{
    padding: 5px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e0f0ff;
    border-radius: 6px;

  }
  .pe2{
    padding: 5px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e0f0ff;
    border-radius: 6px;

  }
}

.original-chart{
  min-height: 25%;
  width: 100%;
  background-color: #b79eff;
  border-radius: 8px;
}

.algorithm-overview,
.current-actions {
  margin-bottom: 20px;
}

.algorithm-overview h3,
.current-actions h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.current-actions p {
  color: #1a73e8;
  font-weight: bold;
}

/* Footer */
.footer {
  grid-column: 1 / 3;
  text-align: center;
  padding: 10px;
  color: #666;
  font-size: 0.9rem;
}
